@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 0 4rem ;
  align-items: center;
}

.logo a{
  display: none;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 18px;
}

nav ul a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}

nav ul a:hover{
  color: red;
}

nav ul a:active{
  border-bottom: red;
}

.load{
  animation: slide 2s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 30s infinite;
}
.content{
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  position: absolute;
  text-align: center;
}
.principal h1{
  font-size: 68px;
  margin-bottom: 20px;
  color: transparent;
  -webkit-text-stroke: 1px ;
  background: url(111.jpg);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back{
  100%{
      background-position: 2000px 0;
  }
}
.principal p{
  font-size: 15px;
}

@keyframes slide{
  0%{
    background-image: url('7.jpg');
  }
  20%{
      background-image: url('7.jpg');
  }
   20.01%{
    background-image: url('2.jpg');
  }
  40%{
      background-image: url('2.jpg');
  }
   40.01%{
    background-image: url('1.jpg');
  }
  60%{
      background-image: url('1.jpg');
  }
   60.01%{
    background-image: url('6.jpg');
  }
  80%{
      background-image: url('6.jpg');
  }
   80.01%{
    background-image: url('6.jpg');
  }
  100%{
      background-image: url('7.jpg');
  }
}

.pics-disp{
  padding: 0 2.5rem;
}

.span{
  text-align: center;
  padding: 0 3rem;
  margin: 30px auto 30px;
}

.span h2{
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 2em;
  color: red;
}

.span h2 span{
  font-weight: 50;
  color: black;
}

.line{
  width: 30%;
  border-bottom: 2px solid black;
  margin: 0 auto 1rem;
}

.categories{
  text-align: center;
  margin: 30px 0 30px;
}

.categories span{
  color: red;
}

.image-gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding-bottom: 40px;
}

.image-gallery .img-box{
  margin-bottom: 5px;
}

img{
  max-width: 100%;
  height: 100%;
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 2em;
}

footer{
  margin-top: 40px;
  background-color: black;
  padding-top: 1em;
}

footer h1{
  color: #fff;
}
.col-4{
  padding: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer1 h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
.footer1 i {
  margin: 30px 20px 10px;
  font-size: 25px;
  color: grey;
}

.footer1 p {
  text-transform: lowercase;
  color: gray;
}
.footer2 h4, .footer3 h4, .footer4 h4{
   color: grey;
   font-weight: 400;
   font-size: 1.1em;
}
.footer hr{
  width: 90%;
  margin: 0 auto;
}
.footer .grid-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 2rem;
}
.copyright{
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
  color: gray;
}

.copyright p{
  font-size: 15px;
  margin: 15px 0;
}

.foot{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 70em){
  header{
    padding: 0 2rem;
  }

  nav ul{
    font-size: 12px;
  }

  .principal{
    padding: 0;
    margin: 0;
  }
  .principal h1{
    font-size: 2em;
    font-weight: bolder;
  }

  .principal p{
    font-weight: 100;
    font-size: 12px;
  }

  .image-gallery{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .img-box{
    margin-bottom: 0;
  }

  .span h2{
    font-size: 1.7em;
  }

  .line{
    width: 42%;
  }

  .col-4 h1{
    font-size: 25px;
  }

  .footer1 h1 {
    margin-bottom: 20px;
  }

  .footer2 h4, .footer3 h4, .footer4 h4{
    color: grey;
    font-weight: 400;
    font-size: 15px;
 }

 .copyright{
   padding: 0;
 }

}

@media screen and (max-width: 40em) {
  #sidebar{
    position: absolute;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100%;
    background-color: #0b090a;
    transition: all 300ms linear;
    z-index: 999;
  }
  
  #sidebar.active{
    right: 0;
  }
  
  #sidebar .toggle-btn{
    position: absolute;
    right: 280px;
    top: 10px;
  }
  
  #sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #000;
    margin: 5px 0;
    cursor: pointer;
  }
  
  #sidebar nav ul li{
    padding: 15px 10px;
    border-bottom: 1px solid #444;
    color: #fcfcfc;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
  }

  #sidebar nav ul li a{
    color: #fcfcfc;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
  }

  #sidebar nav ul{
    display: block;
    margin: 5rem auto;
  }


  header{
    margin: 0;
    display: block;
    gap: 0;
    padding: 0 0;
  }

  nav ul{
    font-size: 12px;
    margin: 0 auto 10px;
    gap: 10px;

  }

  .logo{
    display: flex;
    gap: 0;
  }

  .menu{
    display: inline-block;
    color: black;
  }

  .principal h1{
    font-size: 3em;
  }

  .principal p{
    font-size: 15px;
  }

  .pics-disp{
    padding: 0 1rem;
  }

  .span h2{
    font-size: 1.7em;
    padding: 0;
  }

  .line{
    width: 100%;
    padding: 0;
  }

  .span{
    padding: 0 1.7rem;
  }

  .image-gallery{
    grid-template-columns: 1fr;
  }

  .col-4{
    margin-left: 10px;
  }

  .copyright{
		display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
	}

  .copyright p{
    font-size: 12px;
  }

	.foot{
		margin-top: -15px;
    padding: 0;
	}

}